:host {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2a2a2a;
  border-radius: 8px;
  padding: 12px;
}

@media (max-width: 768px) {
  p {
    font-size: 12px;
  }
}
