<section
  class="table-container"
  tabindex="0"
  [hidden]="loading || (characters && characters.length === 0)">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img class="image" src="{{ element.image }}" alt="character image" />
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Status</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        {{ element.status | titlecase }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-character-gender [gender]="element.gender"></app-character-gender>
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="goToCharacter(row)"></mat-row>
  </mat-table>
  <div
    appObserveElement
    #intersection="intersection"
    (isIntersecting)="isIntersecting($event)"
    [isContinuous]="true"
    [style]="{ height: '0px' }"></div>
</section>
<ng-container *ngIf="!loading && characters && characters.length === 0">
  <div class="empty">
    <h3>Nothing found</h3>
  </div>
</ng-container>
<ng-container *ngIf="loading">
  <ngx-skeleton-loader
    count="1"
    appearance="line"
    [theme]="{
      background: '#2a2a2a',
      height: '80vh',
      borderRadius: '8px'
    }"></ngx-skeleton-loader>
</ng-container>
<ng-container *ngIf="fetching">
  <div class="fetching">
    <p>Loading...</p>
    <mat-spinner [style]="{ width: '25px', height: '25px' }"></mat-spinner>
  </div>
</ng-container>
