.mdc-data-table {
  &__table {
    border-radius: 8px;
    overflow: hidden;
    background-color: #1e1e1e;
  }
}

.mdc-data-table__cell + .mat-column-image {
  display: flex;
  align-items: center;
}

.mdc-data-table__cell + .loader {
  display: unset;
}

.image {
  margin: 8px 0px;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.fetching {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  gap: 16px;
  background: #0e0e0e;
  border-radius: 8px;
  padding: 8px 16px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #595959;
}
