:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
}

.mdc-data-table {
  &__table {
    background-color: #1e1e1e;
  }
  &__cell + .mat-column-image {
    display: flex;
    align-items: center;
  }
  &__cell + .loader {
    display: unset;
  }
}

.table-container {
  height: 400px;
  flex-grow: 1;
  overflow: auto;
}

.image {
  margin: 8px 0px;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.fetching {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  gap: 16px;
  background: #0e0e0e;
  border-radius: 8px;
  padding: 8px 16px;
}

.mat-column-id,
.mat-column-image {
  min-width: 80px;
  max-width: 80px;
}

.mat-column-name {
  min-width: 200px;
}

.mat-column-status,
.mat-column-gender {
  min-width: 150px;
  max-width: 150px;
  justify-content: center;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #595959;
}

@media (max-width: 768px) {
  .mat-column-id,
  .mat-column-image {
    min-width: 60px;
    max-width: 60px;
  }

  .image {
    height: 40px;
    width: 40px;
  }

  .mat-column-status,
  .mat-column-gender {
    min-width: 100px;
    max-width: 100px;
  }
}
