@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #121212;
}

app-main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

app-main-page,
app-character-page {
  flex: 1;
  padding: 12px 0px;
}
